.book .book-header h1 a,
#header > h1 > p > img{display:none}

#header > h1 > p{text-align: left;}

i.fa.fa-file-pdf-o {
  color: red;
}
p {
  text-align: justify;
}

.center p {
  text-align: center;
}

li.booktitle a {
  font-weight: bold;
}

li.booklogo a {
  display: block;
}

li.booklogo a img {
  width: 67%;
}

.centerbold p {
  text-align: center;
  font-weight: bold;
}

.page-inner .center img {
  width: 100%;
  max-height: 12em;
  object-fit: contain;
  margin: 0 auto;
}

.signature p,
.flushright p {
  text-align: right;
  width: 90%;
  padding-top: 3rem;
}

img#cover {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 32rem;
}

#le-mot-du-doyen img {
  max-width: 20rem;
}

#prise-de-notes p {
  border-bottom: 1px solid lightgrey;
  margin-top: 3rem;
}

#toc-pour-prendre-des-notes{
  display: none;
}

a[href='pour-prendre-des-notes.html'] {
  visibility: hidden;
}