i.fa.fa-file-pdf-o{
  color: red;
}
p{
  text-align: justify;
}

li.booklogo a {
  display: block;
  text-align: center;
}

li.booklogo a img{
  width: 67%;
}

.centerbold p {
  text-align: center;
  font-weight: bold;
}

.page-inner .center img {
  width: 100%;
  max-height: 12em;
  object-fit: contain;
  margin: 0 auto;
}

.signature p,
.flushright p {
  text-align: right;
  width: 90%;
  padding-top: 3rem;
}

#le-mot-du-doyen img {
  max-width: 20rem;
}