i.fa.fa-file-pdf-o{
  color: red;
}
p{
  text-align: justify;
}

.centerbold p {
  text-align: center;
  font-weight: bold;
}

.page-inner img {
  height: inherit;
  max-height: 12em;
}

.signature p {
  text-align: right;
  width: 90%;
  padding-top: 3rem;
}

#le-mot-du-doyen img {
  max-width: 20rem;
  width: 50%;
}